<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Welcome <%=  @user.name.upcase %> ,</h1>
    <p>
      You Profile has been updated.<br/>
      User Name: <%= @yser.name %> <br/>
      User email: <%= @user.email %><br/>
      User Password: <%= @user.password %><br/>
      User DOB: <%= @user.dob  %>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>