<div id="<%= dom_id book %>">
  <p>
    <strong>Booksss name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= book.author_name %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= book.library_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

</div>
