<!DOCTYPE html>
<html lang="en" dir="ltr">
<title></title>

  <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  </head>
  <body>

    <div class="container">

    <h1 class="main-book-heading">Book Details</h1>

    <%= link_to 'Download as Excel',  book_index_path(format: :xlsx) , :class=>"btn btn-success" %>
<div>&nbsp;</div>
    <table class="table">
      <thead>
      <tr>
        <th>Title of Book</th>
        <th>Published At</th>
        <th>Book Language</th>
        <th>Library Name</th>
        <th>Author Name</th>
        <th colspan="3">Show/Edit/Destroy Books</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.published_at %></td>
          <td><%= book.language %></td>
          <td><%= book.library&.name %></td>
          <td><%= book.user&.name %></td>
          <td><%= link_to 'Show', book,style:  "text-decoration:none; border:1px; background-color:green; padding:8px; color:white" %></td>
          <td><%= link_to 'Edit', edit_book_path(book),style:  "text-decoration:none; border:1px; background-color:royalblue; padding:8px; color:white" %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure delete this book?'},style:"text-decoration:none; border:1px; background-color:red; padding:8px; color:white" %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <br/><br/>

    </div>
    <%= link_to "Add New Book", new_book_path , :class=>"btn btn-primary" %>
&nbsp;

   <a href="/" class="btn btn-success">Back to Home</a>
  </body>
</html>