<!DOCTYPE html>
<html lang="en" dir="ltr">
<title></title>

  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  </head>
  <body>

    <div class="container">

    <h1 class="main-book-heading">User Details</h1>

    <table class="table">
      <thead>
      <tr>
        <th>User Name</th>
        <th>User Email</th>
        <th>User DOB</th>
        <th>User Role</th>
        <th>User Image</th>
        <th colspan="3">Edit/Destroy Books</th>
      </tr>
    </thead>

    <tbody>

        <tr>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
          <td><%= @user.dob %></td>
          <td><%= @user.user_role %></td>

          <td><%= link_to 'Edit', edit_user_path(@user),style:  "text-decoration:none; border:1px; background-color:royalblue; padding:8px; color:white" %></td>
          <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure delete this book?'},style:"text-decoration:none; border:1px; background-color:red; padding:8px; color:white" %></td>
        </tr>

    </tbody>
    </table>
    <br/><br/>

    </div>
    <a href="/" class="btn btn-warning">Back To Home</a>&nbsp;
    <a href="/user/index" class="btn btn-success">View All User</a>&nbsp;

  </body>
</html>